@model ViewModelAllDetails//Extra -----------!!!!!!!!!!!!!

@*@foreach(var item in Model)
{
    <li> @Model.Customer.Id</li>
    <li>@Model.Movie.Id</li>
    <li></li>
}
*@

@*Customer Id: @Model.Customer.Id<br/>
Customer Name: @Model.Customer.Name<br/>
<br/>
Movie Id: @Model.Movie.Id<br/>*@
Movie Title: @Model.Movie.Title<br/>
@*Movie Genre: @Model.Movie.Genre<br/>*@
